<div class="hero-container">
    <h1>TRIP ME</h1>

    <h3>Not sure where to go this weekend? We can help.</h3>

    <form action="/randomtrip" method="get">
        <button class="btn-special">Surprise Me!</button>
    </form>
</div>

