<div class="hero-container">
    <h1>TRIP ME</h1>

    <h3>Bla bla bla explaining about this site here and how it works</h3>

    <form action="/randomtrip" method="get">
        <button class="btn-special">Surprise Me!</button>
    </form>
</div>

