<div class="hero-container2">
    <h1>Login</h1>

    <form action="/session" method="post">
        <div class="signup">
            <label for="">email:</label>
            <input type="email" name="email">
            <label for="">password:</label>
            <input type="password" name="password">
            <button class="btn-submit">login</button>
        </div>
    </form>
</div>