<h1>Post new activity</h1>

<form action="/activities" method="post">
    <label for="">name:</label>
    <input type="text" name="activity_name">

    <label for="">image url:</label>
    <input type="text" name="image_url">

    <label for="">location:</label>
    <input type="text" name="location_name">

    <label for="">summary:</label>
    <input type="text" name="summary">

    <label for="">link for more details:</label>
    <input type="text" name="details">

    <button>post</button>
</form>