* {
    /* font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-family: 'IBM Plex Serif', serif; */
}
button {
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-between;
}

.header2 {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

nav {
    margin-top: 30px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;  
}

.space-between {
    display: flex;
    justify-content: space-between;
}



.hero-container {
    text-align: center;
    margin-top: 100px;
}

.hero-container2 {
    text-align: center;
    margin-top: 50px;
}

.box-content {
    width: 300px;
    height: 300px;
    border: solid 2px #5000FF;
    margin: 10px;
    text-align: center;
}

.tiles {
    width: 100%;
    
}

h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    color: #5000FF;
    font-size: 3.5em;
    margin-bottom: 15px;
}

h3 {
    font-family: 'IBM Plex Sans', sans-serif;
    color: #5000FF;
}

h4 {
    margin-bottom: 10px;
    font-size: 1.2em;
}

.icons {
    width: 50px;
    margin: 0 auto;
}

img {
    width: 100%;  
}

.act-img {
    border: 5px solid #5000FF;
}

input {
    display: block;
    margin: 5px auto;
    border: 1px solid #FE28A2;
    height: 30px;
    width: 150px;
    padding-left: 10px;
}

textarea {
    /* margin-top: 20px; */
    border: 1px solid #FE28A2;
    height: 30px;
    width: 150px;
    padding-left: 10px;
    padding-top: 10px
    /* display: block; */
}

select {
    border: 1px solid #FE28A2;
    border-radius: none;
    height: 30px;
    width: 150px;
    background-color: white;
}

.sort-by {
    height: 40px;
    margin-top: 15px;
}

li {
    list-style: none;
    display: inline-block;
    margin: 10px;
}

a {
    text-decoration: none;
}

.btn-yellow {
    width: 150px;
    height: 40px;
    background-color: #FEEB23;
    text-align: center;
    padding-top: 18px;
    margin-bottom: 10px;
}

p {
    padding: 10px;
    margin: 0px;
    padding-bottom: 3px;
}

small {
    margin-top: -3px;
    color: grey;
    padding: 10px;
}

.btn-special {
    width: 400px;
    height: 100px;
    background-color: #5000FF;
    text-align: center;
    border: none;
    font-size: 3em;
    color: #FEEB23;
    margin-top: 20px;
}

.btn-user {
    border: 1px solid #5000FF;
    /* border: none; */
    background-color: none;
    padding: 5px;
    color: #5000FF;
    margin: 3px;
    display: inline;
    font-size: .8em;
    width: 100px;
    margin-top: 10px;

}

.btn-submit {
    background-color: #FE28A2;
    font-size: .8em;
    width: 100px;
    height: 40px;
    border: none;
    margin-top: 20px;
    color: whitesmoke; 
    font-weight: 400;
}

.btn-submit2 {
    background-color: #FE28A2;
    font-size: .8em;
    width: 100px;
    height: 45px;
    border: none;
    color: whitesmoke; 
    font-weight: 400;
    vertical-align: top;

}


.btn-try {
    background-color: #5000FF;
    font-size: .8em;
    width: 100px;
    height: 40px;
    border: none;
    margin-top: 20px;
    color: whitesmoke; 
    margin-left: 10px;
}

.btn-delete {
    border: 2px solid red;
    width: 100px;
    height: 40px;
    font-size: .8em;
    color: red;
    display: inline;
    margin: 20px 20px 40px 10px;
    
}

.btn-edit {
    border: 2px solid #5000FF;
    width: 80px;
    height: 25px;
    padding: 6px 5px 5px 5px;
    font-size: .8em;
    color: #5000FF;
    display: inline;
    text-align: center;
    margin-top: 20px;
}


.btn-like {
    background-image: url('/../images/icons/like.png');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    border: none;
    /* display: inline;    */
}

.liked {
    background-image: url('/../images/icons/like-pink.png');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    border: none;
}

.user {
    text-align: center;
    width: 150px;
    /* background-color: red; */
}

.error {
    color: red;
    /* margin-bottom: 15px; */
    font-weight: 400;
}

.img-container {
   width: 50%;
}

.text {
    padding: 0px 20px;
    width: 45%;
    color: #5000FF;
    line-height: 1.8;
    font-size: 1em;
}

.details-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex-wrap: wrap;
}

.btns {
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}

.btns-left {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    margin-top: 5px;
}



.btns-right {
    display: flex;
    justify-content: flex-start;
}

.comments {
    background-image: url('/../images/icons/comment-bubble.png');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    border: none;
    margin-right: 10px;
}

.grey {
    color: grey;
}

.center {
    margin-top: 20px;
}

.temp {
    height: 170px;
    overflow: hidden;
}

html, body {
    height: 100%;
}

body {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    color: #FE28A2;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

footer {
    text-align: center;
    flex-shrink: 0;
}

footer p {
    color: grey;
    font-size: 0.8em;
    line-height: 1;
}







@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    
    button {
        background-color: white;
    }

    nav {
        font-size: 2.5em;
    }

    .user {
        margin-top: 20px;
    }

    .icons {
        width: 80px;
    }

    .btn-user {
        font-size: 1.5em;
        /* width: 100px;
        margin-top: 10px; */
    }

    p {
        font-size: 2em;
    }

    h1 {
        font-size: 4.5em;
        text-align: center;
    }

    h3 {
        font-size: 2.1em;
        text-align: center;
    }

    h4 {
        margin-top: 10px;
        font-size: 3em;
    }

    .details-container {
        text-align: center;
    }

    .img-container {
        width: 80%;
        margin: 0 auto;
    }

    .text {
         margin: 0 auto;
         width: 80%;
         font-size: 1.3em;
    }

    small {
         font-size: .5em;
    }

    label {
        font-size: 2.3em;
        
    }

    input {
        height: 50px;
        width: 300px;
        padding-left: 20px;
        margin-bottom: 30px;
        font-size: 1.8em;
    }

    select {
        height: 50px;
        width: 200px;
        font-size: 1.8em;
        padding-left: 10px;
    }

    .center {
        text-align: center;
        margin-top: 50px;
    }

    textarea {
        height: 70px;
        width: 400px;
    }

    .signup {
        margin-top: 40px;
    }

    .btn-submit, .btn-try {
        font-size: 2.1em;
        width: 200px;
        height: 87px;
    }

    .btn-submit2 {
        font-size: 1.9em;
        width: 200px;
        height: 87px;
        vertical-align: top;
        
    }

    footer {
        height: 100px;
    }

    .btn-like, .liked, .comments {
        width: 60px;
        height: 60px;
    }

    .grey {
        font-size: 2em;
    }

    .hero-container {
        width: 70%;
        margin: 0 auto;
        margin-top: 100px;
    }

    .space-between {
        width: 80%;
        margin: 0 auto;
    }

    .container {
        width: 80%;
        margin: 0 auto;
    }

    .box-content {
        height: 580px;
        width: 100%;
    }

    .btn-yellow {
        font-size: 2em;
        width: 250px;
        height: 70px;
    }

    .btn-delete {
        width: 200px;
        height: 70px;
        font-size: 1.5em;
        
    }
    
    .btn-edit {
        width: 200px;
        height: 55px;
        font-size: 1.5em;
    }

    .comment-text {
        font-size: 1.5em;
    }

    .header2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .temp {
        height: 400px;
        overflow: hidden;
    }


}
